**/Debug/
**/Release/
**/x64/
**/ipch/
**/.vs/
**/bin/Debug/
**/bin/Release/

*.VC.db
*.VC.opendb
*.suo
*.user
*.userosscache
*.sdf
*.cache
*.opensdf
*.log
*.tlog
*.obj
*.idb
*.pdb
*.ipdb
*.iobj
*.ilk
*.aps
*.ncb

CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

*.exe
*.out
*.dll
*.lib
*.a

bin/linux_amd64/encrypt-tool

!*.sln
!*.vcxproj
!*.vcxproj.filters
!*.vcxproj.user

!src/**
